*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}